.card-settings {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    background-color: cadetblue;
    border-radius: 5px; /* 5px rounded corners */
    overflow-x: scroll;
    overflow-y: scroll ;
    padding-top: 10px;
    padding-right: 15px;
    padding-bottom: 10px;
    padding-left: 15px;
}

.MasterContainer {
    background-color: paleturquoise;
    border-color: black;
}

/* .div {
    
} */
